html {
    margin: 50px 40px 40px 40px;
    background: #222222;
    font-family: Arial, sans-serif;
    justify-content: center;
    color: #f1f1f1;
    font-size: 15px;
    line-height: 1.5;

    body {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: block;
    }

    h1 {
        font-size: 28px;
    }

    a {
        color: #f1f1f1;
        text-decoration: none;
        text-emphasis-color: #007bff;
        transition: all 0.3s ease;
    }
    
    a:hover {
        color: #007bff;
        text-decoration-line: underline;
    }

    button {
        width: 75px;
        height: 30px;
        border: none;
        background: radial-gradient(45em, #007bff);
        box-shadow: 4px 4px 10px #323232;
        border-radius: 8px;
        color: white;
        transition: all 0.3s ease;
    }

    button:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    button:active {
        scale: 90%;
    }

    input {
        background-color: #999999;
        color: #444444;
        padding: 5px;
        border: none;
        border-radius: 8px;
        box-shadow: 4px 4px 10px #656565;
        transition: all 0.3s ease;
    }

    input:focus {
        scale: 125%;
    }

    .post {
        user-select: none;
        cursor: pointer;
        max-width: 250px;
        height: auto;
        margin-block: 10px;
        background: #007bff;
        border-radius: 8px;
        padding: 5px;
        transition: all 0.3s ease;
    }

    .post:active {
        scale: 90%;
    }

    .menu-button {
        position: fixed;
        left: 10px;
        top: 10px;
    }

    .menu-content {
        a {
            color: white;
            padding: 12px 15px;
        }

        position: fixed;
        left: 10px;
        top: 45px;
        border-radius: 8px;
        
        padding: 6px;
        display: none;
        width: 150px;
        background: #444444;
        color: #ffffff;
        white-space: pre-wrap;
    }

    #end {
        right: 100%;
    }
}