html {
    margin: 40px;
    background: #222222;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: block;
    color: #f1f1f1;
    font-size: 15px;
    line-height: 1.5;

    h1 {
        font-size: 28px;
    }

    a {
        color: #f1f1f1;
        text-decoration: none;
        text-emphasis-color: #007bff;
        transition: all 0.3s ease;
    }
    
    a:hover {
        transition: all 0.3s ease;
        color: #007bff;
        text-decoration-line: underline;
    }

    button {
        width: 75px;
        height: 30px;
        border: none;
        background: radial-gradient(45em, #007bff);
        box-shadow: 4px 4px 10px #323232;
        border-radius: 8px;
        color: #ffffff;
        transition: all 0.3s ease;
    }

    button:hover {
        transition: all 0.3s ease;
        opacity: 0.6;
        cursor: pointer;
    }

    input {
        border: none;
        box-shadow: 4px 4px 10px #686868;
    }


    .post {
        cursor: pointer;
        max-width: 250px;
        max-height: 130px;
        margin-block: 10px;
        background: #007bff;
        border-radius: 8px;
        padding: 5px;
    }

    .menu-button {
        position: fixed;
        left: 10px;
        top: 10px;
    }

    .menu-content {
        a {
            color: white;
            padding: 12px 15px;
        }

        position: fixed;
        left: 10px;
        top: 45px;
        border-radius: 8px;
        
        padding: 6px;
        display: none;
        width: 150px;
        background: #444444;
        color: #ffffff;
        white-space: pre-wrap;
    }
}